 * {
    margin: 0;
}
 html, body {
                background-color: #fff;
                font-weight: 400;
                font-size:1.0rem;
                height: 100vh;
                margin: 0;
                position: relative;
                min-height: 100%;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

h1 {
    font-size: 1.602em;
    line-height: 1.5em;
}
h2 {
    font-size: 1.424em;
}
h3 {
    font-size: 1.266em;
}
h4 {
    font-size: 1.125em;
}
h5 {
    font-size: 0.889em;
}
h6 {
    font-size: 0.79em;
}
.display-1 {
    font-size: 3.906em;
}
.display-2 {
    font-size: 3.125em;
}
.display-3 {
    font-size: 2.5em;
}
.display-4 {
    font-size: 2em;
}


.navbar{ border-width: 0 1px 4px 1px; border-color:transparent; }


.wrapper-bg{background-color: #f5f8fa; min-height:100%;flex: 1; position:relative; height: stretch;background-repeat: no-repeat;
    background-size: auto;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.wrapper{ max-width: 1150px;margin:0px auto;;}
.margintop-20{margin-top: 20px;}
.marginbottom-20{margin-bottom: 20px;}

.layer {
    /* background-color: rgba(9, 132, 227,0.6);*/
    background-color: rgba(0, 0, 0,0.3);
    /*background-color: rgba(29, 109, 181, 0.80);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


pre{ padding:10px; border:1px solid #1C1D21; background:#1C1D21; }
.wrapper-bg-2{ background-color: #ECF0F1; height:100%;}
.wrapper-bg-3{ background-color: #fff; height:100%;}

.footer{ min-height:150px;color:rgba(255, 255, 255, 0.5); }


.nav-bg{background: white;}
.nav-bg-silver{background: #f8f8f8;border-bottom:1px solid #eee;}
.nav-bg-dark{ background: #2c3e50; }
.nav-bg-light{ background: #d0d3d6; }
.nav-bg-black{background: #303030;}
.logo-small{ height:30px; }

.fa-light{ color:#e8e6df; }
.fa-dark{ color:#f9be50; }
.CodeMirror{border:1px solid silver;}
.card-nav ul{ margin-bottom: 0px; }
.qset .active{ background: #b70016;  }
.qset .level1{opacity: 1;font-size: 4px;float: right;color:#8F1D21}
.qset .level2{opacity: 1;font-size: 4px;float: right;color:#D24D57}
.qset .level3{opacity: 1;font-size: 4px;float: right;color:#FFA400}
.qitems{position:relative;}
.item-pdf{ border: 1px solid #eee; padding:5px; background:#fff; }

.sortable{ border:1px solid #eee; background: #f8f8f8; padding: 10px; margin:0px; list-style: none;}
ul.sortable li{ border:1px solid #eee; background: #fff;
    margin-bottom: 5px;padding: 5px; padding-left: 10px; }
ul.sortable li:last-child{ margin-bottom: 0px; }
ul.sortable li.current{ border:1px solid #6c757d; }

/* Nestset Listing */
ul.list{ list-style:none;margin:10px;margin-left:15px; margin-right: 0px; margin-top: -10px;
    border:0;border-left:1px solid #eee; padding: 5px 0px 0px; }
ul.list li{  position:relative;margin:10px;padding:5px;padding-left: 10px; background:#fff;border:1px solid #eee; }
ul.list-first{ margin: 5px; margin-top: -20px; margin-right: -5px; }
ul.list li:before{ content:""; position:absolute; width:13px; height:10px; border: 1px solid;
    left:-13px;top:5px; border-color: #eee transparent transparent transparent;}

ul.list2{ list-style:none; margin-left:25px; margin-right: 0px; margin-top: -10px;
    border:0; padding: 5px 0px 0px; min-width:90%;}

ul.list2 li{  position:relative;margin:10px;padding:5px; background:#fff;min-width:90%; }
ul.list2-first{ margin: 5px; margin-left:5px; margin-top: -20px;}
.title-list{ font-size: 20px; }
.title-normal{ font-size: 15px; }

.card-body p img.class{ width:100%; }

.logo-product{ width:70px; }
.logo-text{ font-family: 'Source Sans Pro', cursive; font-size: 25px;}
.onlinelibrary{font-family: 'Satisfy', cursive; font-size:40px;}
.titlea{ font-family: 'Poiret One', cursive;font-size:60px; }
.subtitlea{ font-family: 'Poiret One', sans-serif;font-size:30px }
.subtitlec{ font-family: 'Satisfy', sans-serif;font-size:30px }
.subtitleb{ font-family:  'Satisfy',sans-serif;font-size:20px }
/*user profile*/
.name,a.link{ color:white; }

.logo-small{ height:40px; }
.logo-parent{ }
.logo-main{ position:absolute;top:0;  margin-top:-10px;width:74px;}

.fa-light{ color:#e8e6df; }
.fa-dark{ color:#f9be50; }
#app {
}

.company { font-size: 20px;line-height: 30px;}
.company p{ font-size: 20px;line-height: 30px; }

.sortable{ border:1px solid #bfe0d9; background: #f7fffd; padding: 10px; margin:0px; list-style: none;}
ul.sortable li{ border:1px solid #bfe0d9; background: #daf3ee;
    margin-bottom: 5px;padding: 5px; padding-left: 10px; }
ul.sortable li:last-child{ margin-bottom: 0px; }
ul.sortable li.current{ border:1px solid #17a085; }

.premium { color:white;background: #16A085; font-size:11px; border:1px solid transparent; padding:3px 7px; border-radius: 5px; }
.premium:hover{ opacity: 0.9 }

.kno{cursor: pointer}
/*question*/

.question_p, .question_p p
{ font-size:20px;line-height: 30px; }

h2.article{ line-height: 1.5em; }
h3.article{ line-height: 1.5em; }
h4.article{ line-height: 1.5em; }
h5.article{ line-height: 1.5em; }
h6.article{ line-height: 1.5em; }
p.article{line-height: 1.6em;}


.qyellow{
    background:#F8EFBA;border:1px solid #e4d998;
}
.qgreen{
    background:#c8f7c5;border:1px solid #66cc99;
}
.qblue{
    background:#F8EFBA;border:1px solid #2c4356;
}
.qred{
    background:#f1a9a0;border:1px solid #e08283;
}
.qborder{
    border:2px solid #bb061c;
}
.qgreen-border{
    border:2px solid #66cc99;
}
.qred-border{
    border:2px solid #ff0c0c;
}


.bactive{ background: #b70016; }
.qblue-border{
    border:2px solid #2c4356;
}
.blogd a.white-link{ color:white; }
.blogd a.orange-link{ color:#88604c; }

/*test*/
.testqno{ cursor: pointer; }
.test2qno{ cursor: pointer; }
.cursor { cursor:pointer; }

 
.heading1 {
    font-size: 5.02em;
    line-height: 1.5em;
    font-family: impact;
    font-weight: 800;
    }
    .heading2 {
        font-size: 2.524em;
        font-family: sans-serif;
        font-weight: 800;
    }
    .heading3 {
        font-size: 1.866em;
        font-family: sans-serif;
        font-weight: 700;
    }

.blog-body{ padding: 30px; }
.blog-content{
    font-size: 20px;
    line-height: 35px;
}  


.bg1{
    background: rgb(35, 111, 177);
}  

.bg3{background:linear-gradient(to top, rgba(22, 160, 133,0.0), rgb(35, 111, 177)); height:100%}


@media (max-width: 720px) {

    .container{ max-width: 720px; }

    /*user profile*/
    .name,a.link{ color:#484e51; }
    .logo-product{ width:40px; }
    .logo-text{ font-family: 'Source Sans Pro', cursive; font-size: 15px;}
    .titlea{ font-family: 'Poiret One', cursive;font-size:30px; }
    .subtitlea{ font-family: 'Poiret One', sans-serif;font-size:20px }
    .subtitlec{ font-family: 'Satisfy', sans-serif;font-size:20px }
    .subtitleb{ font-family:  'Satisfy',sans-serif;font-size:15px }

    .heading1 {
    font-size: 2.02em;
    line-height: 1.5em;
    }
    .heading2 {
        font-size: 1.524em;
    }
    .heading3 {
        font-size: 1.466em;
    }

}  

table {
  border-collapse: collapse;
}table, tr, td, th {
  border: 1px solid black;
  padding :10px
}




